@import 'tailwindcss';
/* 
:root {
	--color-base: #262626;
	--color-secondary: #070;
	--color-light: #0a0;
	--color-dark: #242;
	--color-bg: #ffffff;
}

.dark {
	--color-base: #f5f5f5;
	--color-secondary: #b0b0b0;
	--color-light: #909090;
	--color-dark: #f5f5f5;
	--color-bg: #1a1a1a;
} */

@theme {
	--font-sans:
		'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial,
		'Lucida Grande', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.d {
	@apply border border-red-500;
}
